{% extends "base_template.html" %}

{% block title %}
  Listado de usuarios
{% endblock %}

{% block content %}
  <ul>
    {% for user in user_pagination.items %}
    <li><a href="{{url_for('admin.update_user_form', user_id=user.id) }}">{{
      user.name }}</a>(Admin: {{ user.is_admin }})</li>
    {% else %}
        <li>No hay usuarios</li>
    {% endfor %}
  </ul>

  <div class="pagination">
        {%- for page in user_pagination.iter_pages() %}
            {% if page %}
                {% if page != user_pagination.page %}
                    <a href="{{ url_for('admin.list_users', page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>...</span>
            {% endif %}
        {%- endfor %}
    </div>
{% endblock %}