{% extends "base_template.html" %}

{% block title %}{{ slug_title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div>
        <span class="blogDate">{{ post.created|datetime('full') }}</span>
    </div>
    {% if post.image_name %}
        <div>
            <img src="{{ url_for('media_posts', filename=post.image_name) }}" width="300" height="200" />
        </div>
    {% endif %}
    {{ post.content }}
    <h2>Comentarios</h2>
    {% if current_user.is_authenticated %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.content.label }}
                {{ form.content }}<br>
                {% for error in form.content.errors %}
                <span style="color:red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    {% endif %}
    <div id="comments">
        {% for comment in post.comments  %}
        <div>
            <div>El usuario {{ comment.user_name }} ha comentado el <span class="blogDate">{{ comment.created|datetime }}</span> :</div>
            <div>{{ comment.content }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}